.country {
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(196, 241, 175);
  margin: 10px;
  padding: 10px;
}
.country img {
  height: 200px;
  width: 250px;
  object-fit: cover;
}
